{% extends 'vote/layout.html' %}

{% block css %}
    <style>
        .card img {
            width: 200px;
            height: 150px;
        }

        .content__wrapper {
            margin-top: 1rem;
        }

        .list-wrapper {
            display: flex;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
        }

        .list-wrapper form {
            margin: 0.5rem
        }

    </style>
{% endblock %}

{% block content %}
    <div class="content__wrapper">
        <div class="list-wrapper">
        {% if subjects %}
            {% for subject in subjects %}
                <div id="form-{{ subject.id }}" class="card" style="width: 18rem;">
                  <img src="https://changhoi.github.io/images/logo.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ subject.title }}</h5>
                    <p class="card-text">{{ subject.content }}</p>
                    <button type="submit" onclick="onClickBtn({{ subject.id }}, 'like')" name="type" value="like" class="btn btn-primary">Likes {{ subject.like }}</button>
                    <button type="submit" onclick="onClickBtn({{ subject.id }}, 'dislike')" name="type" value="dislike" class="btn btn-primary">Dislikes {{ subject.dislike }}</button>
                  </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const request = new XMLHttpRequest();

        const onClickBtn = (id, type) => {
            const url= '/subjects/ajax/'
            request.open("POST", url, true);
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            request.send(JSON.stringify({type: type, id: id}));
        }

        const handleResponse = () => {
            if (request.status <= 400) {
                const {id, type} = JSON.parse(request.response);

                const element = document.querySelector(`#form-${id} button[value=${type}]`);
                const origin = element.innerText;
                const [typeStr, num] = origin.split(' '); // ["Likes", '1']
                const count = Number(num) + 1;
                element.innerText = `${typeStr} ${count}`;
            }
        }

        request.onreadystatechange = () => {
            if (request.readyState === XMLHttpRequest.DONE) {
                handleResponse();
            }
        }
    </script>
{% endblock %}